<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sjsu.writingcenter" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourcesActivity"
            android:label="@string/title_activity_resources"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.sjsu.writingcenter.WelcomeActivity" />
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.sjsu.writingcenter.WelcomeActivity" />
        </activity>
        <activity
            android:name=".FAQActivity"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.sjsu.writingcenter.WelcomeActivity" />
        </activity>
        <activity
            android:name=".PDFActivity"
            android:label="Resource View"
            android:parentActivityName=".ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.sjsu.writingcenter.ResourcesActivity" />
        </activity>
        <activity
            android:name=".AppointmentActivity"
            android:label="@string/title_activity_appointment"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.sjsu.writingcenter.WelcomeActivity" />
        </activity>
    </application>

</manifest>
